.App {
  text-align: center;
}

nav {
  text-align: right;
}

/* CHAPTR.JS LANDING PAGE */

.chaptr-container {
  display: flex;
}

.chaptr-desc {
  flex: 1;
  padding: 20px;
}

.chaptr-login {
  flex: 1;
  padding: 20px;
}

.login {
  padding: 60px;
}

/* COLOR PALETTE */
/* purple #5F464B */
/* orange  #CB793A*/
/* green #56876D */
/* offwhite #F2E5D7 */
/* light blue #92B9BD */


