.App {
  text-align: center;
}

nav {
  text-align: right;
}

/* CHAPTR.JS LANDING PAGE */

.chaptr-container {
  display: flex;
}

.chaptr-desc {
  flex: 1;
  padding: 3rem;
  text-align: left;
}

.chaptr-login {
  flex: 1;
  padding: 20px;
}

.login {
  padding: 60px;
  margin-top: 2rem;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Mobile view stacked layout */

@media (max-width: 768px) {
  .chaptr-container {
    flex-direction: column;
    align-items: center;
  }

  .login {
    padding: 0;
  }
  .chaptr-login {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

